.content {
    display: flex;
    width: 100%;
    height: 650px;
}
.header-title-and-filter {
    display: flex;
}
.app-header__search__input {
    padding: 6px 14px;
    border-radius: 50px;
    border: 2px solid #e8e8e8;
    width: 300px;
    outline: none !important;
    font-size: .9em;
}
.mynotes h1 {
    margin: 10px;
    flex: 1 1;
}
.mynotes .notelist {
    width: 30%;
    background: #f5f6fb;
}

.mynotes .new-note-section {
    width: 70%;
}

.mynotes .new-note-section .title-note {
    display: block;
    margin: 50px auto;
}

.mynotes .new-note-section .description-note {
    display: block;
    margin: 50px auto;
    height: 30em;
    width: 70em;
}

.footer-new-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
   
}
.footer-new-button .button-new-note {
    width: 58px;
    height: 58px;
    font-size: 1.8em;
    background: #893ffb;
    color: #fff;
    box-shadow: 2px 8px 18px 0 rgba(21,21,38,.36);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.notelist .note {
    margin: 20px;
}

.note {
    background: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 16px 0 rgb(44 44 197 / 16%);
    cursor: pointer;
    font-weight: 600;
    display: flex;
    user-select: none;
}
.icon-button {
    background: #fafbfd;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.note__title {
    flex: 1 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: auto 0;
}

.note_completed.completed {
    color:#893ffb;
}
.note_starred.starred, .note_starred:hover {
    color: #ffd500;
}
.note_delete:hover {
    color: red;
}
/*note.jsx CSS*/

.note-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.note-editor__header {
    display: flex;
}
.note-editor__title {
    font-size: 2em;
    font-weight: 600;
}

.note-editor__content, .note-editor__title {
    width: 100%;
    padding: 10px;
    border: none;
    flex: 1 1;
}

.note-editor__content {
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
}

.note-editor .categories-selector {
    padding: 0 10px;
}

.categories-selector__category {
    cursor: pointer;
    background: #dddfe8;
    color: #3a4143;
    margin-right: 5px;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 600
}

.categories-selector__category.selected {
    background: #3fa3fb;
    color: #fff;
}