.content {
    display: flex;
    width: 100%;
    height: 650px;
}

/*.content div.notelist, .content div.new-note-section {
    display: inline-grid;
}*/

.mynotes h1 {
    text-align: left;
    margin: 10px;
}
.mynotes .notelist {
    width: 30%;
    background-color: tomato;
}

.mynotes .new-note-section {
    width: 70%;
    background-color: teal;
}

.mynotes .new-note-section .title-note {
    display: block;
    margin: 50px auto;
}

.mynotes .new-note-section .description-note {
    display: block;
    margin: 50px auto;
    height: 30em;
    width: 70em;
}

.footer-new-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}