.content {
    display: flex;
    flex: 1 1;
}

.mynotes {
    height: 100%;
}
.mynotes h1 {
    text-align: left;
    margin: 10px;
}
.mynotes .notelist {
    width: 30%;
    background-color: tomato;
}

.mynotes .new-note-section {
    width: 70%;
    background-color: teal;
}

.mynotes .new-note-section .title-note {
    display: block;
    margin: 50px auto;
}

.mynotes .new-note-section .description-note {
    display: block;
    margin: 50px auto;
    height: 30em;
    width: 70em;
}

.footer-new-button {
    text-align: right;
}